.container {
	padding-top: 50px;
	padding-left: 100px;
	width: 1200px;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}
.Toolbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.Toolbar h1 {
	margin-right: auto;
	font-size: 40px;
	color:#3D3D3F;
	align-self: flex-start;
	font-weight: 400;
	margin-top: 0px;
}
.addbutton {
	margin-right: 50px;
	padding-right: 25px;
	padding-left: 25px;
	border: 1px solid #DBDBDB;
	background: #fff;
	color: #7165E3;
}
.tabbutton {
	margin-right: 50px;
	padding-left: 25px;
	border: 1px solid #DBDBDB;
	background: #fff;
}
.tabbutton_inactive {
	border: 1px solid #dfdfdf;
	margin-right: 50px;
	padding-left: 25px;
	background: transparent;
}
.addbutton, .tabbutton, .tabbutton_inactive {
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
	height: 51px;
	font-size: 16px;
	display: flex ;
	align-items: center;
	justify-content: center;
	color: #7165E3;
}
.addbutton:hover, .tabbutton:hover, .tabbutton_inactive:hover {
	border: 1px solid #CCC !important;
	background: #FAFAFA;
	cursor: pointer;
}
.addbutton span, .tabbutton span, .tabbutton_inactive span {
	display: block !important;
	margin: 0px auto;
	padding-right: 25px;
}
.tabbutton .iconleft, .tabbutton_inactive .iconleft {
	margin-right: 25px;
}

.Toolbar .add {
	height: 51px;
	width: 51px;
	border: 0px;
	border-radius: 51px;
	background: #7165E3;
	color: #fff;
	font-size: 28px;
	line-height: 46px;
	margin-right: 15px;
}
.add:hover {
	background: #5D53BE;
	cursor: pointer;
}



/* PAGE */

.pageContainer {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.page {
	background: #fff;
	border-radius: 10px;
	width: 280px;
	height: 376px;
	border: 1px solid #DBDBDB;
	margin-right: 30px;
	margin-bottom: 15px;
	-webkit-transition: all .15s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.page:hover { 
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border: 1px solid #CCC;
	background: #FAFAFA;
}
.page:hover .pagebuttons {
	opacity: 1;
}
.page .label {
	margin: 0px auto;
	text-align: center;
	padding-top: 30px;
	font-size: 14px;
}
.pagebuttons {
	align-self: flex-end;
	padding: 30px;
	display: flex;
	justify-content: flex-end;
	opacity: 0;
	-webkit-transition: all .15s ease-in-out;
}
.pagebuttons .icon {
	height: 18px; 
	width: 18px;
	-webkit-transition: all .15s ease-in-out;
}
.page .trash {
	background: #FCC6BF;
	margin-right: 15px;
	height: 28px;
	width: 28px;
	border-radius: 5px;
	color: #FF9A91;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page .edit {
	background: #80E3F0;
	height: 28px;
	width: 28px;
	border-radius: 5px;
	color: #2DA4B6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trash:hover {
	background: #FF9A91;
	color: #FCC6BF;
}
.edit:hover {
	background: #2DA4B6;
	color: #80E3F0;

}




/* SETTINGS */

.settingscontainer {
	background: #fff;
	border-radius: 10px;
	padding: 75px 50px;
	border: 1px solid #DBDBDB;
	margin-right: 30px;
	margin-bottom: 15px;
	-webkit-transition: all .15s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.settingscontainer .invert {
	display: inline-block;
	align-self: flex-start;
	background: #fff;
	color: #7165E3;
	border: 0px;
	width: 234px;
	height: 51px;
	font-size: 16px;
	font-family: 'Avenir Next';
	-webkit-transition: all .15s ease-in-out;
	border-radius: 10px;
}
.settingscontainer .invert:hover {
	cursor: pointer;
	background: #eee;
}
.settingscontainer .button {
	display: inline-block;
	align-self: flex-end;
	margin-top: -41px;
	background: #7165E3;
	color: #F4F5F9;
	border: 0px;
	width: 234px;
	height: 51px;
	font-size: 16px;
	font-family: 'Avenir Next';
	-webkit-transition: all .15s ease-in-out;
	border-radius: 10px;
}
.settingscontainer .button:hover {
	background: #5D53BE;
	cursor: pointer;
}
.settingscontainer .col1 {
	border-bottom: 1px solid #DBDBDB;
	padding-top: 25px;
}
.settingscontainer .col2 {
	padding-top: 50px;
}
.settingscontainer .col1, .settingscontainer .col2  {
	padding-bottom: 75px;
	display: flex;
}
.settingscontainer h1 {
	color: #AAA;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 125px;
	margin-right: -50px;
}
.dropdownaccount {
	width: 250px;
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	cursor: pointer;
	height: 51px;
	background: #fff;
	font-size: 16px;
	color: #989898;
	margin-top: 15px;
	margin-left: -80px;
	display: flex ;
	padding-left: 25px;
	padding-right: 25px;
	align-items: center;
	justify-content: center;
	color: #989898;
	margin-bottom: 40px;
}
.dropdown {
	width: 250px;
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 75px ;
	height: 51px;
	background: #fff;
	font-size: 16px;
	color: #989898;
	margin-left: 50px !important; 
	display: flex ;
	padding-left: 25px;
	padding-right: 25px;
	align-items: center;
	justify-content: center;
	color: #989898;
}
.dropdown span, .dropdownaccount span {
	display: block !important;
	margin: 0px auto;
	padding-left: 25px;
	padding-right: 25px;
}
.avatardropdownmenu {
	display: none;
	margin-left: 253px;
	margin-top: 126px;
	position: absolute;
	width: 248px;
	border: 1px solid #DBDBDB;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background: rgba(250, 250, 250, 0.5);
	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	align-items: space-around;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 25px;
	padding-bottom: 15px;
}
.avatardropdownmenu img {
	border-radius: 15px;
	border: 5px solid rgba(0, 0, 0, 0.03);
	width: 93px;
}
.avatardropdownmenu img:hover {
	cursor: pointer;
	border: 5px solid rgba(115, 101, 225, 0.25);
}
.avatar {
	border-radius: 15px;
	border: 5px solid rgba(0, 0, 0, 0.03);
	width: 193px;
	height: 193px;
}

.dropdownmenu {
	display: none;
	margin-left: -80px;
	margin-top: -40px;
	position: absolute;
	width: 248px;
	border: 1px solid #DBDBDB;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background: rgba(250, 250, 250, 0.5);
	-webkit-backdrop-filter: blur(5px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	align-items: center;
	flex-direction: column;
}
.dropdownmenu div {
	color: #989898;
	height: 51px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdownmenu div:hover {
	cursor: pointer;
	background: #FDFDFD;
	color: #7165E3;
}
.dropdown:hover {
	border: 1px solid #CCC !important;
}
.dropdown:hover .dropdownmenu {
	display: block;
}
.icondropdown {
	-webkit-transition: .25s ease-in-out;
}
.icondropdownright {
	-webkit-transition: .25s ease-in-out;
}
.settingscontainer table {
	text-align: left;
	margin: 0px auto;
}
.settingscontainer td:nth-child() {
}
.settingscontainer table input {
	height: 51px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -85px;
	background: transparent;
	padding-left: 50px;
	width: 350px;
	font-size: 14px;
	-webkit-transition: all .25s linear;
	margin-bottom: 50px;
}
.settingscontainer table input:focus {
	outline: none;
	border-bottom: 1px solid #7660EB;
}
.settingscontainer table .icon {
	color: #DBDBDB;
	display: block;
	-webkit-transition: all .25s ease-in-out;
	margin-bottom: 50px;
}
.settingscontainer table .label {
	padding-top: 25px;
	font-size: 16px;
	color: #989898;
	display: block;
	-webkit-transition: all .25s ease-in-out;
	width: 80px;
}
.settingscontainer .lastchange {
	color: #989898;
	font-weight: 400;
	font-size: 12px;
	display: block;
	margin-right: -250px;
	width: 250px;
	margin-top: -40px !important;
}


/* DASHBOARD */

.CheckList {
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	background: #fff;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 485px;
	margin-top: 50px;
}
.CheckList .header {
	border-bottom: 1px solid #DBDBDB;
	color: #7165E3;
	font-weight: 600;
	font-size: 18px;
	padding: 15px;
}
.CheckList .header .icon {
	margin-left: -15px;
	margin-right: 15px;
}
.CheckList .CheckListItems {
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.CheckList .CheckListItemCircle {
	height: 18px;
	width: 18px;
	border-radius: 18px;
	border: 1px solid #3D3D3F;
}
.CheckList .CheckListItem {
	font-size: 14px;
	padding: 15px;
	padding-left: 0px;
	width: 100%;
}
.CheckList table {
	border-collapse:collapse;
	width: 100%;
	text-align: left;
}
.CheckList td {
	padding-left: 10px;
}
.CheckList td:hover {
	cursor: pointer;
}
.CheckList tr:hover {
	cursor: pointer;
	background: #eee !important;
}
.CheckList tr:nth-child(even) {
	background: #F8F8F8;
}
.CheckList tr td:nth-child(odd) {
	max-width: 5px;
}


#alertbox {
	opacity: 0;
	overflow: hidden;
}
#SnackBarNotification {
	-webkit-transition: all .25s linear;
	top: -50px;
	position: absolute;
}
.overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	-webkit-backdrop-filter: blur(16px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}
.SnackBarNotification {
	-webkit-backdrop-filter: blur(25px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.9);
	border-radius: 10px;
	border: 1px solid #DBDBDB;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	padding: 15px;
	display: flex;
	flex-direction: column;
	color: #333;
	position: absolute;
	right: 15px;
	bottom: 100px;
}
.alertbox {
	background: #F5F6FA;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.alertbox h1 {
	font-size: 28px;
	margin-top: -10px;
	font-family: 'Avenir Next';
	font-weight: 700;
	color: #3D3D3F;
}
.alertbox .content {
	min-height: 150px;
	max-width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.alertbox .addcontent {
	min-height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.alertbox .addcontent table {
	margin-bottom: 50px;
}
.alertbox .addcontent table .label {
	padding-top: 25px;
	font-size: 16px;
	color: #989898;
	display: block;
	-webkit-transition: all .25s ease-in-out;
}
.alertbox .addcontent table .icon {
	color: #DBDBDB;
	display: block;
	-webkit-transition: all .25s ease-in-out;
	margin-right: auto;
	margin-left: 10px;
	height: 25px;
	width: 25px;
}
.alertbox .addcontent input {
	height: 51px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 50px;
	width: 350px;
	font-size: 14px;
	-webkit-transition: all .25s linear;
}
.alertbox .actionbuttons {
	min-height: 50px;
	min-width: 500px;
	display: flex;
	justify-content: space-between;
}
.alertbox input {
	height: 50px;
	width: 400px;
	padding: 5px;
	padding-left: 15px;
	border: 0px;
	outline: none;
	border-bottom: 1px solid #DBDBDB;
	font-size: 20px;
	-webkit-transition: all .25s ease-in-out;
}
.alertbox input:active {
	border-bottom: 1px solid #7660EB;
}
.alertbox input:hover {
	border-bottom: 1px solid #989898;
}
.alertbox input:focus {
	border-bottom: 1px solid #7660EB;
}
.alertbox button {
	font-size: 22px;
	font-family: 'Avenir Next';
	font-weight: 500;
	-webkit-transition: all .15s ease-in-out;
}
.alertbox button:hover {
	cursor: pointer;
}
.alertbox button.solid {
	height: 51px;
	width: 234px;
	background: #7165E3;
	color: #fff;
	border-radius: 10px;
	border: 0px;
}
.alertbox button.invert {
	height: 51px;
	width: 234px;
	background: transparent;
	color: #7165E3;
	border: 1px solid #7165E3;
	border-radius: 10px;
}
.alertbox button.solid:hover {
	background: #5D53BE;
}
.alertbox button.invert:hover {
	border: 1px solid #5D53BE;
	color: #5D53BE;
	background: #fff;
}