.maincontainer {
	position: absolute;
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 200vh;
}
.container img {
	display: block;
}
.container h1.title {
	color: red;
	margin-top: 50px;
	text-align: center;
}

.toolbar_left {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DBDBDB;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	left: 30px;
	top: 237px;
	position: fixed;
	display: flex;
	flex-direction: row;
	-webkit-transition: all .15s ease-in-out;
	padding-top: 5px;
	padding-bottom: 12px;
	overflow: hidden;
	z-index: 2;
	-webkit-backdrop-filter: blur(50px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.85);
}
.toolbar_left .content {
	width: 100%;
	margin-left: 12px;
	margin-right: 22px;
	padding-top: 20px;
	padding-left: 7.5px;
	overflow: scroll;

}
.toolbar_left .content h1 {
	color: #7165E3;
	margin: 0px;
	font-size: 20px;
	border-bottom: 1px solid #DBDBDB;
	padding-bottom: 15px;
	-webkit-transition: all .25s ease-in-out;
}
.toolbar_left .content .icon {
	color: #989898;
	margin: 0px;
	font-size: 20px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}
.toolbar_left .content .body {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}
.toolbar_left .content .body .page {
	background: #F4F5F9;
	border-radius: 10px;
	width: 80px;
	height: 106px;
	padding: 10px;
	border: 1px solid #DBDBDB;
	margin-right: 30px;
	margin-bottom: 15px;
	-webkit-transition: all .15s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
}
.toolbar_left .content .body .page:hover {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border: 1px solid #989898;
}
.toolbar_left .toolbar_left_items {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}
.toolbar_left_items .toolbar_icon {
	color: #989898;
	height: 21px;
	width: 21px;
	-webkit-transition: all .25s ease-in-out;
	padding: 15px;
	border-radius: 5px;
	margin-top: 10px;
}

.toolbar_left_items .toolbar_icon:hover {
	color: #7165E3;
	cursor: pointer;
	background: #F5F6FA;
}
.toolbar_left_items .toolbar_icon_active {
	color: #7165E3;
	height: 21px;
	width: 21px;
	-webkit-transition: all .25s ease-in-out;
	padding: 15px;
	border-radius: 5px;
	background: #F5F6FA;
	cursor: pointer;
	margin-top: 10px;
	cursor: pointer;
}


.Toolbox {
	display: flex;
	flex-wrap: wrap;
}
.Toolbox div {
	background: #F4F5F9;
	border-radius: 10px;
	width: 80%;
	padding: 10px;
	border: 1px solid #DBDBDB;
	margin-right: 30px;
	margin-bottom: 15px;
	-webkit-transition: all .15s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
}
.Toolbox div:hover {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border: 1px solid #989898;
}

.SettingsPanel {
	display: flex;
	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.9);
	border-radius: 10px;
	border: 1px solid #DBDBDB;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	display: flex;
	flex-direction: row;
	-webkit-transition: all .25s ease-in-out;
	padding-top: 5px;
	padding-bottom: 12px;
	overflow: hidden;
	right: 165px;
	top: 70px;
	width: 305px;
	flex-direction: column;
	z-index: 2;
}
.SettingsPanel .header {
	display: block;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.SettingsPanel .header .title {
	color: #7165E3;
	background: #F5F6FA;
	margin: 0px;
	font-size: 20px;
	text-align: left;
	border-radius: 10px;
	font-weight: 400;
	padding: 10px;
	height: 20px;
}
.SettingsPanel .header .x {
	padding: 15px;
	color: #DBDBDB;
	height: 18px;
	width: 18px;
	-webkit-transition: all .25s ease-in-out;
}
.SettingsPanel .header .x:hover {
	cursor: pointer;
	color: #989898;
}
.SettingsPanel .body {
	display: block;
	padding: 10px;
}



.toolbar_bottom {
	position: fixed;
	bottom: 30px;
	right: 30px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DBDBDB;
	padding: 10px;
	display: flex;
}
.toolbar_bottom .icon {
	padding: 15px;
	margin-left: 10px;
	color: #989898;
	height: 18px;
	width: 18px;
}
.toolbar_bottom .icon:hover {
	color: #7165E3;
	cursor: pointer;
	background: #F5F6FA;
}
.toolbar_bottom .icon_active {
	padding: 15px;
	height: 18px;
	width: 18px;
	color: #7165E3;
	background: #F5F6FA;
	border-radius: 5px;
	cursor: pointer;
}
.toolbar_bottom .icon_active:hover {
	color: #7165E3;
	cursor: pointer;
	background: #F5F6FA;
}
.toolbar_top {
}


.wrapper {
}
.EditableContainer {
	height: 100%;
	border-radius: 10px;
}
.EditableText {
	display: inline-block;
}
.textBorder {
	border: 2px dashed #CCC;
	border-radius: 10px;
	padding: 15px;
	margin: -17px;
	-webkit-transition: all .25s ease-in-out;
	overflow: hidden;
	z-index: 2;
	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.5);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.textBorder p {
	display: inline-block;
}
.options {
	background: red;
	float: right;
	margin-top: -5px;
}
.Card {
	border: 5px solid blue;
	margin: 0px auto;
	border-radius: 10px;
}
.NavBar {
	top: 0;
	left: 0;
	width: 100vw;
	position: fixed;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: red;
	z-index: 1;
	-webkit-backdrop-filter: blur(50px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.NavCanvas {
	width: 100%;
}
.NavBar .end {
	margin-left: auto;
	border-radius: 10px;
	margin-right: 15px;
}
.NavBar .end div {
	margin-right: 5px;
}
.NavBar .middle {
	margin-left: 50px;
}
.NavBar .start {
	margin-left: 15px;
}
.start, .middle, .end {
	padding: 5px;
	border: 1px solid transparent;
}
.start_active, .middle_active, .end_active {
	padding: 5px;
	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.75);
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border: 1px dashed #fff;
}
.start_active {
	margin-left: 15px;
}
.middle_active {
	margin-left: 50px;
}
.end_active {
	margin-left: auto;
	margin-right: 15px;
}
.navitem {
	padding: 10px;
	border-radius: 10px;
/**	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(250, 250, 250, 0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); **/
	display: inline-block;
	margin-left: 5px;
}
.NavBar .end  p {
}
.NavBar .end  p:hover {
}
.NavBar:last-child {
	background: red;
}
p {
	display: block;
}
.Hero {
	background-size: cover;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	-webkit-backdrop-filter: blur(6px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
}
.Hero p {
	color: #fff;
	font-weight: bold;
	font-size: 78px;
	display: block;
	text-align: center;
}