.container {
	height:  100vh;
	background: #BFD0F9;
	color: #E2EEFC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Avenir Next";
	text-align: center;
}
.accesscontainer {
	height:  100vh;
	background: #6ABAA7;
	color: #E2EEFC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Avenir Next";
	text-align: center;
}
.container a, .accesscontainer a {
	text-decoration: underline;
	color: #E2EEFC;
}
.container img, .accesscontainer img {
	height: 350px;
	margin-top: 25px;
}
.container h1, .accesscontainer h1 {
	font-size: 100px;
	font-weight: 400;
	margin-top: -25px;
}
.container h2, .accesscontainer h2 {
	font-weight: normal;
	font-size: 40px;
}
.container h3, .accesscontainer h3 {
	font-weight: 400;
	font-size: 25px;
	margin-top: -10px;
}