.left {
	width: 50%;
	background: #FFF;
	margin: 0px;
	text-align: center;
	font-family: 'Avenir Next';
	-webkit-transition: all .25s linear;
}
.left h1 {
	color: #3D3D3F;
	font-size: 50px;
	margin-top: -10px;
}
.left h2 {
	margin-top: 70px;
	color: #989898;
	font-size: 18px;
	font-weight: normal;
}
.left h3 {
	margin-top: 270px;
	color: #989898;
	font-size: 18px;
	font-weight: normal;
}
.left button {
	display: block;
	background: #7165E3;
	color: #F4F5F9;
	border: 0px;
	width: 362px;
	height: 73px;
	margin: 0px auto;
	font-size: 26px;
	font-family: 'Avenir Next';
	margin-top: 90px ;
	border-radius: 10px;
}
.left button:hover {
	background: #5D53BE;
	cursor: pointer;
}
.left button:active {
	background: #453d91;
	cursor: pointer;
}
.left table {
	text-align: left;
	margin: 0px auto;
}
.left table input {
	height: 51px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 50px;
	width: 350px;
	font-size: 14px;
	-webkit-transition: all .25s linear;
}
.left table input:focus {
	outline: none;
	border-bottom: 1px solid #7660EB;
}
.left table .icon {
	color: #DBDBDB;
	display: block;
	-webkit-transition: all .25s ease-in-out;
}
.left table .label {
	padding-top: 25px;
	font-size: 16px;
	color: #989898;
	display: block;
	-webkit-transition: all .25s ease-in-out;
	width: 75px;
}
.right {
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: 'Avenir Next';
	padding-left: 50px;
	padding-right: 50px;
}
.right h1 {
	font-size: 50px;
	font-weight: bold;
	color: #7165E3;
	margin-top: 132px;
}
.right h2 {
	font-size: 30px;
	font-weight: 400;
	color: #B2B2B4;
	letter-spacing: 2px;
}
.right h3 {
	font-size: 40px;
	color: #3D3D3F;
	margin-top: -25px;
	font-weight: 500;
}
.right h4 {
	margin-top: -25px;
	font-size: 25px;
	font-weight: normal;
	color: #B2B2B4;
}