[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
    display: inline-block;
}
.container {
	text-align: center;
	font-family: 'Avenir Next';
	-webkit-transition: all .15s linear;
	display: flex;
	justify-content: space-between;
}
.container table {
	text-align: left;
	margin: 0px auto;
}
.container table input:focus {
	outline: none;
	border-bottom: 1px solid #7660EB;
	color: #7660EB;
	font-weight: bold;
}
.container td.editButtons {
	height: 51px;
	padding-left: 100px;
	margin-left: -100px;
	margin-right: -50px;
	display: flex;
	justify-content: space-between;
}
.container td.editButtonsSmall {
	height: 51px;
	display: flex;
	justify-content: space-between;
}
.container table .icon {
	color: #DBDBDB;
	-webkit-transition: all .15s ease-in-out;
	height: 12px;
	padding: 5px;
	border-radius: 5px;
	width: 12px;
	cursor: pointer;
	z-index: 5;
}
.container table .icon:hover {
	cursor: pointer !important;
	color: #FEFEFE !important;
	background: #7660EB !important;
}
.container .iconbutton:hover {
	color: #7660EB;
	cursor: pointer;
}
.sourcetable {
	width: 95%;
	margin-left: 2.5%;
}
.sourcetable .label {
	color: #989898;
	width: 75px;
	-webkit-transition: all .15s ease-in-out;
}

.sourcetable label input {
    visibility: hidden;
    opacity: 0;
    display: none;
}

/***** Example custom styling *****/
.sourcetable label div {
	display: block;
	width: 205px;
	height: 75px;
	background: #eaeaea;
	border-radius: 10px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	color: #989898;
	-webkit-transition: all .15s ease-in-out;
}

.sourcetable label div:hover {
    background: #ddd;
    cursor: pointer;
}
.sourcetable label div:active {
    background: #7660EB;
}
.sourcetable label :invalid  {
    color: red;
}
.sourcetable label :valid  {
    color: blue;
}

.sourcetable button {
	width: 100%;
	height: 125px;
	background-size: cover;
	border-radius: 10px;
	border: 1px solid #eee;
	margin-top: 10px;
	opacity: .75;
	-webkit-transition: all .15s ease-in-out;
}
.sourcetable button:hover {
	cursor: pointer;
	opacity: .5;
}
.sourcetable .icon {
	color: #DBDBDB;
	height: 20px;
	margin-right: -5px;
	-webkit-transition: all .15s ease-in-out;
}
.sourcetable input.text {
	height: 51px;
	width: 180px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 30px;
	font-size: 14px;
	-webkit-transition: all .15s ease-in-out;
	color: #989898;
}
.sourcetable input:focus {
	outline: none;
	border-bottom: 1px solid #7660EB;
	color: #7660EB;
	font-weight: bold;
}
.container table .iconbutton {
	color: #DBDBDB;
	display: inline-block;
	-webkit-transition: all .15s ease-in-out;
	height: 20px;
	margin-top: 25px;
}
.container table .icon_tiny {
	color: #DBDBDB;
	display: block;
	height: 8px;
	-webkit-transition: all .15s ease-in-out;
	margin-right: -5px;
}
.container table .label {
	padding-top: 25px;
	font-size: 16px;
	color: #989898;
	display: block;
	-webkit-transition: all .15s ease-in-out;
	width: 75px;
	margin-top: -5px;
}
.left {
	text-align: left;
	font-family: 'Avenir Next';

}
.right {
	text-align: center;
	font-family: 'Avenir Next';
}
.right input.text {
	height: 51px;
	width: 50px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 30px;
	font-size: 14px;
	-webkit-transition: all .15s linear;
}
.left_even input, .right_even input {
	height: 51px;
	width: 37px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	-webkit-transition: all .15s linear;
	color: #989898;
}
.left  input.text {
	height: 51px;
	width: 125px;
	border: 0px;
	border-bottom: 1px solid #DBDBDB;
	margin-left: -80px;
	background: transparent;
	padding-left: 30px;
	font-size: 14px;
	-webkit-transition: all .15s linear;
}
.fontSlider {
	left: 75px;
}
.heightSlider {
	left: 40px;
}
.heightSlider, .fontSlider {
	-webkit-transition: all .25s linear;
	position: absolute;
	z-index: 25;
	height: 25px;
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: blur(3px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(114, 101, 225, 0.5);
	border-radius: 10px;
	-webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  display: none;
}

.heightSlider div, .fontSlider div {
	height: 5px;
	border-radius: 10px;
	width: 250px;
	background: rgba(250, 250, 250, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
}
.heightSlider input, .fontSlider input {
	width: 250px;
	padding: 0px;
	border: 0px;
	margin-left: 0px;
	background: transparent;
	-webkit-appearance: none;
}
.widthSlider {
	-webkit-transition: all .25s linear;
	position: absolute;
	z-index: 25;
	left: 10px;
	height: 25px;
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: blur(3px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background: rgba(114, 101, 225, 0.5);
	border-radius: 10px;
	display: none;
}
.widthSlider div {
	height: 5px;
	border-radius: 10px;
	width: 250px;
	background: rgba(250, 250, 250, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
}
.widthSlider input {
	width: 250px;
	padding: 0px;
	margin-left: 0px;
	-webkit-appearance: none;
	border: 0px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #7165E3;
  cursor: pointer;
	border-radius: 15px;
	border: 1px solid #5D53BE;
	background-size: cover;
}

::-moz-range-thumb {
 -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #7660EB;
  cursor: pointer;
	border-radius: 15px;
}
.colorPickerWrapper {
	position: absolute;
	margin-left: 125px;
}
.colorPickerWrapper .icon {
	background: rgba(0, 0, 0, 0.15);
	-webkit-backdrop-filter: blur(3px);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	border-radius: 100px;
	margin-right: -4px;
	margin-bottom: -2px;
}
.colorPickerWrapper:hover .icon {
	cursor: pointer !important;
	opacity: .5;
}
.colorPicker {
	padding: 0px;
	width: 25px;
	height: 25px;
	margin-left: -25px;
	cursor: pointer;
	opacity: 0;
}
.colorPicker:active, .colorPicker:focus {
	outline: none;
	border: 1px solid transparent;
}
.px {
	border-radius: 5px;
	margin-left: auto;
	margin-right: -35px;
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #989898;
	-webkit-transition: all .15s linear;
	font-size: 12px;
	font-weight: normal;
	font-family: helvetica neue;
}